body {
    background-color: aliceblue;
 }
 
 
 .form_things {
    border: 2px solid;
    margin-right: 85%;
 }
 
 
 #sub_button {
    background-color: lavender;
    margin-left: 25mm;
 }
 
 
 #sub_button:hover {
    background-color: rgb(147, 147, 178);
    margin-left: 25mm;
 }
 
 
 #page2 {
    background-color: slategrey;
 }
 
 
 #page2_head {
    text-align: center;
 }
 